<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlet Examples</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>driver</param-name>
    <param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  
  <context-param>
    <param-name>user</param-name>
    <param-value>system</param-value>
  </context-param>
  
  <context-param>
    <param-name>password</param-name>
    <param-value>monu</param-value>
  </context-param>
  
  
  <servlet>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.firsservlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/firstservlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>ServletConfigExample</servlet-name>
    <servlet-class>com.servletconfig.ServletConfigExample</servlet-class>
    <init-param>
      <param-name>drivername</param-name>
      <param-value>oracle.jdbc.driver.OracleDriver</param-value>
    </init-param>
    <init-param>
      <param-name>user</param-name>
      <param-value>system</param-value>
    </init-param>
    <init-param>
      <param-name>pass</param-name>
      <param-value>monu</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigExample</servlet-name>
    <url-pattern>/ServletConfigExample</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>com.genericsevlet.GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/GenericServletDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerInfo</display-name>
    <servlet-name>CustomerInfo</servlet-name>
    <servlet-class>com.formdemo.CustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerInfo</servlet-name>
    <url-pattern>/CustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageRedirectDemo</display-name>
    <servlet-name>PageRedirectDemo</servlet-name>
    <servlet-class>com.pageredirect.PageRedirectDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRedirectDemo</servlet-name>
    <url-pattern>/PageRedirectDemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadAllParameters</servlet-name>
    <servlet-class>com.readallparametes.ReadAllParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadAllParameters</servlet-name>
    <url-pattern>/ReadAllParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>com.hellofilter.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>myfilter</filter-name>
    <filter-class>com.hellofilter.MyFilter</filter-class>
    <init-param>
      <param-name>construction</param-name>
      <param-value>No</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>myfilter</filter-name>
    <url-pattern>/hello</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>com.logfilter.LogFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/helloServlet</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.hellofilter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/helloServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>com.logfilter.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ServletContextDemo</servlet-name>
    <servlet-class>com.servletcontext.ServletContextDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextDemo</servlet-name>
    <url-pattern>/servletcontext</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S1</servlet-name>
    <servlet-class>ServletContextAttribute.FirstServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S1</servlet-name>
    <url-pattern>/Servlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S2</servlet-name>
    <servlet-class>ServletContextAttribute.SeconServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S2</servlet-name>
    <url-pattern>/Servlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageRefresh</servlet-name>
    <servlet-class>com.pagerefresh.PageRefresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRefresh</servlet-name>
    <url-pattern>/pagerefresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>com.uploadingfile.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>com.upload_and_downladingfile.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletRequestAttributeTestServlet</servlet-name>
    <servlet-class>com.event.ServletRequestAttributeTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRequestAttributeTestServlet</servlet-name>
    <url-pattern>/ServletRequestAttributeTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.event.MyServletRequestAttributeListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>HttpSessionAttributeListnerTestServlet</servlet-name>
    <servlet-class>com.event.HttpSessionAttributeListnerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionAttributeListnerTestServlet</servlet-name>
    <url-pattern>/HttpSessionAttributeListnerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.event.MyHttpSessionAttributeListner</listener-class>
  </listener>
  <servlet>
    <servlet-name>ServletContextAttributeListenerTestServlet</servlet-name>
    <servlet-class>com.event.ServletContextAttributeListenerTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextAttributeListenerTestServlet</servlet-name>
    <url-pattern>/ServletContextAttributeListenerTestServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.event.MyServletContextAttributeListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.listener.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.listener.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.CountUserListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UrlReWriting1</display-name>
    <servlet-name>UrlReWriting1</servlet-name>
    <servlet-class>com.urlrewriting.UrlReWriting1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlReWriting1</servlet-name>
    <url-pattern>/url1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlReWriting2</servlet-name>
    <servlet-class>com.urlrewriting.UrlReWriting2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlReWriting2</servlet-name>
    <url-pattern>/url2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hiddenform1</servlet-name>
    <servlet-class>com.hiddenformfields.Hiddenform1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hiddenform1</servlet-name>
    <url-pattern>/hidden1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hiddenform2</servlet-name>
    <servlet-class>com.hiddenformfields.Hiddenform2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hiddenform2</servlet-name>
    <url-pattern>/hidden2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <servlet-class>com.connectionpool.EmployeeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeInfoServlet</servlet-name>
    <url-pattern>/employeeinfo</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.connectionpool.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SeconServlt</display-name>
    <servlet-name>SeconServlt</servlet-name>
    <servlet-class>com.firsservlet.SeconServlt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeconServlt</servlet-name>
    <url-pattern>/SeconServlt</url-pattern>
  </servlet-mapping>
</web-app>